<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 给类型设置别名-->
       <!-- <typeAlias type="com.ibeifeng.mybatis.model.User" alias="User" />-->
        <package name="com.ibeifeng.mybatis.model"/>
    </typeAliases>
    <!-- 配置环境
    default:表示默认使用哪种环境-->
    <environments default="development">
        <environment id="development">
            <!-- 事务管理-->
            <transactionManager type="jdbc" />
            <!-- 数据源-->
            <dataSource type="pooled">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_01"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 配置映射文件-->
    <mappers>
        <mapper resource="com/ibeifeng/mybatis/model/UserMapper.xml"/>
        <mapper resource="com/ibeifeng/mybatis/model/BlogMapper.xml"/>
    </mappers>
</configuration>